.header {
  background-color: white;
  margin:  1rem 1rem 0;
  /* padding: .4rem; */
  overflow: hidden;
  height: 4rem;
  border-radius: 2rem;
}

.header_logo {
  color: #393b44;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

.header_txt {
  font-size: 1rem;
  color: #999;
  display: inline-block;
  padding: 1rem 0 0 1rem;
}
