.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  height: 100vh;
  background-color: white;
}

.header {
  font-size: 30px;
  height: 100px;
}